  
  /** HEADER **/
  #header-nav {
    background-color: #ac9f81;
    border-radius: 0;
    border: 0;
  }
  
  .navbar-brand {
    padding-top: 0 px;
  }
  
  .navbar-brand h1 { /* Restaurant name */
    font-family: 'Lora', serif;
    color: #557c3e;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
  }
  .navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
  }

  /** BUTTON **/

  .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #1c1216;
  }
  .navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
  }

  /**  END BUTTON **/

  #nav-list {
    margin-top: 10px;
  }
  #nav-list a {
    color: #951C49;
    text-align: center;
  }
  #nav-list a:hover {
    background: #E7E7E7;
  }

hr {
   display: block;
   margin: 0 0 0 0;

}

.middle {
  padding-top : 5 px;
  padding-bottom : 5 px;
}

/** MAIN CONTENT **/

#main-content {
  margin : auto;
}

#main-tile {
  background-color: #277f63;
  border-radius: 0;
  border: 1px solid black;
  box-shadow: #1c1216 1px 1px 1px 1px;
  padding: 0 0 0 0;
}

